<nav class="navbar">
    <div class="logo-links-container">
        <img src="/imgs/logo-luna-llena-navbar.svg" alt="logo-img" class="logo">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="productos">Productos</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </div>
    <img src="/imgs/frame-bars-menu.svg" alt="bars-menu" class="bars-menu">
    </div>
</nav>