<nav class="navbar">
    <div class="logo-links-container">
        <img src="/imgs/logo-luna-llena-navbar.svg" alt="logo-img" class="logo">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="productos">Productos</a></li>
            <li><a href="contacto">Contacto</a></li>
        </ul>
    </div>
    <div class="icons-container">
        <img src="/imgs/solid-bars-menu.svg" alt="bars-menu" class="bars-icon">
        <img src="/imgs/solid-shopping-cart.svg" alt="bars-menu" class="cart-icon">
    </div>

    </div>
</nav>