<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <section class="hero">
                <div class="hero-content">
                    <h1 id="hero-h1">Hola! Somos Luna LLena, nos dedicamos a la producción de alimentos congelados
                        saludables, todo
                        casero y sin
                        conservantes.</h1>
                    <a href="productos" class="products-link">Ver productos</a>
                    <img src="/imgs/traslación.svg" alt="" class="traslacion1">
                    <img src="/imgs/traslación.svg" alt="" class="traslacion2">
                </div>
                <!-- <img src="/imgs/wave.svg" alt=""> -->
            </section>
            <!-- <%- include("partials/footer") %> -->
    </body>

    </html>