<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <section class="hero">
                <div class="hero-text">
                    <h1>Comida Saludable para una Vida Mejor</h1>
                    <a href="productos" class="hero-button">Conocé nuestros productos</a>
                </div>
                <div class="hero-img">
                    <img src="/imgs/logo-luna-llena-sarten.svg" alt="" class="hero-img">
                </div>
            </section>

            <!-- <section class="services">
                <h2>Nuestros Servicios</h2>
                <div class="services-container">
                    <div class="service">
                        <img src="" alt="Envíos a domicilio">
                        <h3>Envíos a Domicilio</h3>
                        <p>Recibe tus productos en la puerta de tu casa de manera rápida y segura.</p>
                    </div>
                    <div class="service">
                        <img src="" alt="Productos frescos">
                        <h3>Productos Frescos</h3>
                        <p>Garantizamos ingredientes naturales y de la mejor calidad en cada compra.</p>
                    </div>
                    <div class="service">
                        <img src="" alt="Atención al cliente">
                        <h3>Atención Personalizada</h3>
                        <p>Estamos disponibles para ayudarte con cualquier consulta o pedido especial.</p>
                    </div>
                </div>
            </section> -->
            <!-- <%- include("partials/footer") %> -->
    </body>

    </html>