<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <section class="hero">
                <div class="hero-content">
                    <h1 id="hero-h1">Nos dedicamos a la producción de alimentos saludables, todo casero y sin
                        conservantes</h1>
                    <a href="" class="products-link">Conocé nuestros productos</a>
                </div>
            </section>
            <!-- <%- include("partials/footer") %> -->
    </body>

    </html>