<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <section class="hero">
                <div class="hero-content">
                    <h1 id="hero-h1">¡Hola! Somos Luna LLena.</h1>
                    <h2 id="hero-h2"> Nos dedicamos a la producción de alimentos congelados
                        saludables, todo
                        casero y sin
                        conservantes.</h2>
                    <a href="productos" class="products-link">Ver productos</a>

                </div>
                <!-- <img src="/imgs/wave.svg" alt=""> -->
            </section>
            <!-- <%- include("partials/footer") %> -->
    </body>

    </html>