<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <section class="products">
                <div class="products-container">
                    <div class="products-header">
                        <h2>PRODUCTOS</h2>
                    </div>
                </div>
            </section>
    </body>