<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <h1 style="margin: 100px;">Esta es la pagina de productos</h1>
            <%- include("partials/footer") %>
    </body>