.products {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-image: url(/imgs/cover-desktop-min.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

.products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000060;
    z-index: 1;
}

.products-container {
    position: relative;
    width: 60vw;
    min-height: 100vh;
    margin-top: 150px;
    background-color: #182507;
    border-radius: 120px 120px 0 0;
    z-index: 1;
    animation: fadeInAndSlideBottomProducts 1s ease-in-out;
}

.products-container::before {
    content: "";
    position: absolute;
    width: 60vw;
    min-height: 100vh;
    background-image: url(/imgs/cover-products-section.webp);
    background-size: cover;
    border-radius: 120px 120px 0 0;
    opacity: 0.3;
    z-index: 1;
}

.products-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 0 0;
}

.products-header h2 {
    font-size: 100px;
    font-family: "Shadows Into Light", cursive;
    text-shadow: 10px 4px 4px rgb(2, 19, 2);
    text-align: center;
    color: #FF7F00;
    border-bottom: #FF7F00 3px solid;
    opacity: 0.8;
}

@keyframes fadeInAndSlideBottomProducts {
    from {
        transform: translateY(40px);
    }

    to {
        transform: translateY(0px);
    }
}

@media (max-width:1400px) {
    .products-container {
        width: 80vw;
    }

    .products-container::before {
        width: 80vw;
    }

}

@media (max-width:800px) {
    .products-container {
        width: 95vw;
        border-radius: 75px 75px 0 0;

    }

    .products-container::before {
        width: 95vw;
        border-radius: 75px 75px 0 0;
    }

    .products-header h2 {
        font-size: 45px;
        -webkit-text-stroke: 2px #FF7F00;
    }
}