* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #182507;
}

a,
h1 {
    font-family: "League Spartan", sans-serif;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 3;
}

.logo-links-container {
    display: flex;
    align-items: center;
    gap: 50px
}

.logo-links-container ul {
    display: flex;
    gap: 20px;
    list-style: none;
    animation: fadeInAndSlide 1s ease-in-out;

}

.logo-links-container a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    transition: all 0.5s;
}

a:hover {
    color: #FF7F00;
}

.logo-links-container img {
    width: 70px;
}

nav img {
    cursor: pointer;
    animation: fadeInAndSlide 1s ease-in-out;
}

.icons-container {
    display: flex;
    align-items: center;
    animation: fadeInAndSlide 1s ease-in-out;
}

.cart-icon,
.bars-icon {
    width: 20px;
    margin-right: 20px;
}

.bars-icon {
    /* display: none; */
    color: #FF7F00;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/imgs/cover-desktop-min.jpg);
    background-size: cover;
    background-position: top;
    overflow: hidden;
    animation: fadeIn 1.5s ease-in-out;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1aee3d17;
    z-index: 1;
}

.traslacion1 {
    width: 800px;
    position: absolute;
    top: 80px;
    right: -50px;
    z-index: -2;

}

.traslacion2 {
    width: 600px;
    position: absolute;
    top: -70px;
    left: -50px;
    z-index: -2;
}

.hero-content {
    width: 80%;
    height: 400px;
    display: flex;
    flex-direction: column;
    margin: 190px 60px 0 0;
    background: transparent;
    z-index: 2;
}

.hero-content h1 {
    max-width: 1200px;
    color: #ffffff;
    font-size: 50px;
    padding: 10px;
    position: relative;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}

#hero-h1::before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #FF7F00, transparent);
}

.products-link {
    width: fit-content;
    margin-top: 40px;
    padding: 20px;
    border-radius: 10px;
    text-decoration: none;
    background-color: #182507;
    color: #ffffff;
    font-size: 25px;
    transition: all 0.5s;
    animation: fadeInAndSlideBottom 1s ease-in-out;
}

.products-link:hover {
    background-color: #FF7F00;
    color: #182507;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeInAndSlide {
    from {
        transform: translateX(10px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes fadeInAndSlideBottom {
    from {
        transform: translateY(10px);
    }

    to {
        transform: translateY(0px);
    }
}

@media (max-width: 750px) {
    .logo-links-container ul {
        display: none;
    }

    .hero-content {
        margin: 30px 60px 0px 0px;
    }

}

@media (max-width:550px) {
    .hero-content {
        margin: 60px 0 0 0;
    }

    .hero-content h1 {
        font-size: 46px;
    }

    .products-link {
        font-size: 18px;
    }
}

@media (max-width:470px) {

    .hero-content h1 {
        font-size: 30px;
    }
}

@media (max-width:380px) {

    .products-link {
        font-size: 15px;
    }
}